    {% extends 'base.html' %}
    
    {% block body %}
    <div class="container my-3">
      <h2>Add a todo</h2>
    </div>

    <div class="container">
      <form action="/add" method="POST">
        <div class="mb-3">
          <label for="Title" class="form-label">Todo Title</label>
          <input type="text" class="form-control" id="Title" name="title" />
        </div>
        <div class="mb-3">
          <label for="Description" class="form-label">Todo Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="description"
          />
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
    {% endblock body %}