{% extends "base.html" %} 
{% block body %}
<div class="container">
  <h3 class="title">Sign Up</h3>
  <div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }} Go to
      <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %} {% endwith %}
    <form action="/signup" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Your Email</label>
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Your Email"
          autofocus=""
        />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Your Name</label>
        <input
          class="form-control"
          type="name"
          name="name"
          placeholder="Your name"
        />
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Your Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="Your Password"
        />
      </div>
      <!-- <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div> -->
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
